body {
  margin: auto;
  width: 50%;
  min-height: 767px;
}

header, main, footer {
  width: 480px;
  margin: auto;
}

header {
  margin-top: 5em;
  text-align: center;
}

footer {
  margin-bottom: 10em;
}

@media (min-width: 768px) {

  header, main, footer {
    width: 960px;
    max-width: 960px;
    margin: auto;
  }

  header {
    margin-top: 10em;
  }
}