h1 {
  height: 75px;
  width: 100%;
  line-height: 75px;
  box-sizing: border-box;
  border: 1px solid cornflowerblue;
  border-bottom: none;
  float: left;
  background-color: white;
}

h2 {
  height: 150px;
  width: 100%;
  line-height: 150px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid cornflowerblue;
  float: left;
  background-color: rgb(238, 237, 237);

}

#c {
  height: 125px;
  width: 100%;
  line-height: 125px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid cornflowerblue;
  border-top: none;
  float: left;
  background-color: rgb(228, 227, 227);

}

#d {
  height: 125px;
  width: 100%;
  line-height: 125px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid cornflowerblue;
  border-top: none;
  float: left;
  background-color: rgb(211, 209, 209);
}

#e, #f, #g, #h {
  height: 250px;
  width: 50%;
  line-height: 250px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid cornflowerblue;
  border-top: none;
  float: left;
}

#e, #g {
  border-right: none;
  background-color: rgb(193, 192, 192);
}

#f, #h {
  background-color: rgb(179, 177, 177);

}

#i {
  height: 80px;
  width: 100%;
  line-height: 80px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid cornflowerblue;
  border-top: none;
  float: left;
  background-color: rgb(150, 149, 149);
}

@media (min-width: 768px) {

h1 {
  height: 100px;
  width: 100%;
  line-height: 100px;
  background-color: rgb(252, 190, 76);
}

h2 {
  height: 600px;
  width: 20.833%;
  line-height: 600px;
  background-color: lightslategray;
}

#c, #d {
  height: 200px;
  width: 39.5833333333333%;
  border-top: 1px solid cornflowerblue;
  line-height: 200px;
  box-sizing: border-box;
  background-color: lightcyan;
}

#c {
  border-left: none;
  background-color: lightskyblue;
}

#d {
  border-left: none;
}

#e, #f, #g, #h {
  height: 250px;
  width: 19.792%;
  line-height: 250px;
  background-color: lightpink;
}

#e, #g {
  border-left: none;
}

#f {
  background-color: lightyellow;
}

#g {
  background-color: lightsteelblue;
}

#h {
  background-color: lightgreen;

}

#i {
  height: 150px;
  width: 79.1667%;
  border-left: none;
  line-height: 150px;
  background-color: rgb(173, 242, 247);
  
}

}